$default-font: "Montserrat",
sans-serif;
$title-font: "Oranienbaum",
serif;

$color-beige: #f6f1eb;
$color-beige-dark: #e8dac4;
$color-green: #97a179;
$color-text: #3f3c20;

$mobile: 375px;
$tablet: 768px;
$big-tablet: 1025px;
$desktop: 1280px;
$large-desktop: 1560px;