@import "../layouts/variables.scss";

.contact{
    background-color: #fff;
    margin-top: 5%;
    &__title{
        font-family: $title-font;
        text-align: center;
        font-size: 2em;
        margin-bottom: 8%;
    }
    &__container{
        margin-bottom: 12%;
        display: flex;
        flex-direction: row;
    }
    &__box{
        display: flex;
        flex-direction: column;
    }
    
    &__img{
        height: 60vh;

    }

}