@import "../layouts/variables.scss";

// Диана

// Альбина
//section "services"
.home-services {
    padding: 60px 0 74px 0;

        &__container {
            display: flex;
            justify-content: center;
            margin: 52px 0 78px 0;
            flex-wrap: wrap;
            gap: 60px;
        }
        
        &__item {
            padding: 34px 30px;
            width: 360px;
            height: 485px;
            text-align: center;
            background-color: $color-beige;
            border-radius: 15px;
        }
        
        &__item-title {
            font-size: 36px;
            margin-bottom: 32px;
        }
        
        &__item-text-container {
            min-height: 198px;
        }
        
        &__item-text, &__item-time, 
        &__item-amount {
            font-size: 20px;
            line-height: 140%;
            letter-spacing: 0.02em;
        }
        
        &__item-time-content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 42px;
            gap: 5.3px;
        }
        
        &__item-amount {
            margin-top: 30px;
        }
        
        &__item-price {
            margin-bottom: 32px;
            font-weight: 600;
            font-size: 32px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.02em;
        }
        
        &__buttons-container {
            display: flex;
            justify-content: space-between;
        }
}

.button_home-services-btn_small {
    width: 137px;
    height: 58px;   
}

.button_home-services-btn_center {
    margin: 0 auto;
    display: block;
}

//section "testimonials"
.home-testimonials {
    position: relative;
    padding: 60px 0 151px 0;
    background-color: $color-beige;
    z-index: 1;

        &__img-background {
            position: absolute;
            height: 100%;
            transform: translateY(-60px);
            z-index: -1;
        }
        
        &__container {
            padding-left: 39.75%;
            padding-right: 55px;
            margin-top: 51px;
        }
        
        &__item {
            padding: 28px 33px 19px 33px;
            margin-bottom: 38px;
            width: 100%;
            min-height: 207px;
            letter-spacing: 0.02em;
            background-color: #FFFFFF;
            border-radius: 15px;
        }
        
        &__item-text {
            font-size: 20px;
            line-height: 140%;
        }
        
        &__item-author, &__item-date {
            font-size: 16px;
            line-height: 30px;
        }
        
        &__item-author {
            margin-top: 22px;
            font-weight: 600;
        }
        
        &__item-date {
            font-weight: 300;
        }
}

//section "home-question"
.home-question {
    padding: 60px 0;
    text-align: center;

        &__text {
            margin: 13px 0 70px 0;
            font-size: 36px;
            line-height: 140%;
            letter-spacing: 0.02em;
        }
}


/* ------------------------ Media queries ------------------------ */
@media screen and (max-width: $large-desktop) {
    // Диана

    // Альбина
}

@media screen and (max-width: $desktop) {
    // Диана
    
    // Альбина
}

@media screen and (max-width: $big-tablet) {
    // Диана
    
    // Альбина
}

@media screen and (max-width: $tablet) {
    // Диана
    
    // Альбина
}

@media screen and (max-width: $big-mobile) {
    // Диана
    
    // Альбина
}

@media screen and (max-width: $mobile) {
    // Диана
    
    // Альбина
}