@import "../layouts/variables.scss";

// Диана

// Альбина
//section "testimonials"
.home-testimonials {
    background-color: $color-beige;
}

.home-testimonials__item {
    width: 668px;
    height: 207px;
    font-family: $default-font;
    color: $color-text;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.home-testimonials__item-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

.home-testimonials__item-name, .home-testimonials__item-date {
    font-size: 16px;
    line-height: 30px;
}

.home-testimonials__item-name {
    font-weight: 600;
}

.home-testimonials__item-date {
    font-weight: 300;
}