@import "../layouts/variables.scss";

// Катя
.services-pricelist__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item1 item2"
    "item3 item4";
    gap: 3%;
    margin-top: 3%;
    margin-bottom: 6%;
    
}
.services-pricelist__item1{
    grid-area: item1;
}
.services-pricelist__item2{
    grid-area: item2;
}
.services-pricelist__item3{
    grid-area: item3;
}
.services-pricelist__item4{
    grid-area: item4;
}
.services-pricelist {
    padding: 60px 0 74px 0;
}
.services-pricelist__item {
    padding: 5%;
    width: 100%;
    height: 800px;
    text-align: center;
    background-color: $color-beige;
    border-radius: 15px;
}

.services-pricelist__item-text-container {
    min-height: 198px;
}

.services-pricelist__item-text, .services-pricelist__item-time, .services-pricelist__item-amount
 {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.02em;
    
}
.services-pricelist__item-title{
    margin-bottom: 6%;
}

.services-pricelist__item-time-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.services-pricelist__item-time-content1{
    margin-top: 21%;
    margin-bottom: 12%;
}

.services-pricelist__item-time-content2{
    margin-top: 11%;
    margin-bottom: 12%;
}

.services-pricelist__item-amount{
    margin-top: 20%;
}

.services-pricelist__item-price {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.02em;
}


.button_services-pricelist-btn_center {
    margin: 0 auto;
    display: block;
}

.services-pricelist__info-block{
    display: flex;
    flex-direction: row;
   margin-top: 5%;
}
.services-pricelist__square{
    height: 10px;
    
    background-color:$color-text;
    margin-right: 5%; 
    padding-right: 2.3%;  
    margin-top: 2.9%; 
}
// Женя
