@import "../layouts/variables.scss";

.testimonials-item__title {padding-top: 3%;}

.testimonials-item{
    display: flex;
    margin-top: 6%;
    justify-content: space-between;

&__user_img{
    max-width: 100%;
        }}
.testimonials-item__user_name{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
}
.testimonials-item__user_date{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}
.testimonials-item__user{display: flex;
flex-direction: column;
align-items: center;
width: 18%;}
.testimonials-item__user_text{
    width: 75%;
}
.testimonials-item__user_text-block{
    font-size: 24px;
    border: 1px solid $color-beige;
    background-color: $color-beige;
    border-radius: 30px;
    line-height: 140%;
    padding:4% 5% 4% 5%;
    height: min-content;
    position: relative;
    }

    .testimonials-item__user_text-block::after {
        content: ''; 
        position: absolute; 
        left: -44px; top: 55px; 
        border: 15px solid transparent;  
        border-right: 30px solid $color-beige; }

        .testimonials-item:nth-child(2n+1) {display:flex;
        flex-direction:row-reverse; 
        .testimonials-item__user_text-block::after {
            content: ''; 
position: absolute; 
transform: scale(-1, 1);
left: 899px; top: 55px; 


         }}


    @media screen and (max-width:600px) {
        .testimonials-item__title{font-size: 32px;}
        .testimonials-item__user{display: flex;
            align-items: center;
            width: 100%;}

        .testimonials-item__user_subject{
            display: flex;
            flex-direction: column;
            align-items: center;
            }
        .testimonials-item{
            display: flex;
            flex-direction: column;
        }
        .testimonials-item__user_img{
            max-width: 18%;
            }
        .testimonials-item__user_name{
            font-weight: 600;
            font-size: 10px;
            text-align: center;
            
        }
        .testimonials-item__user_date{
            font-weight: 300;
            font-size: 10px;
            text-align: center;
            
        }
        .testimonials-item__user_text{width: 100%;}
        .testimonials-item__user_text-block{
        width: 100%;
        font-size: 12px;
        border: 1px solid $color-beige;
        background-color: $color-beige;
        line-height: 140%;
        padding:4% 5% 4% 5%;
        height: min-content;
        }
        
            .testimonials-item__user_text-left::after {
                display: none;
                }
                .testimonials-item:nth-child(2n+1) {display:flex;
                    flex-direction:column; }    
                    .testimonials-item:nth-child(2n+1) {
                        .testimonials-item__user_text-block::after {display: none;}}
    }